{% extends 'myapp/base.html' %}

{% block header %}

{% endblock %}
{% block content%}
{% load static %}


<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">문의/결제한 포트폴리오</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">만든 포트폴리오</a>
        </li>
   
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">새로운 메세지가 없습니다</h5>
      <p class="card-text"> 페이지에서 '문의하기' 버튼을 눌러 메시지를 보낼 수 있습니다.</p>
      <a href="#" class="btn btn-primary">자세히 보기</a>
    </div>
  </div>


<button type="button" class="btn btn-secondary">모든 메시지</button>
<button type="button" class="btn btn-secondary">보낸 메시지</button>
<button type="button" class="btn btn-secondary">안 읽은 메시지</button>

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="{% static 'myapp/mail/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'myapp/mail/contact_me.js' %}"></script>
<!-- Core theme JS-->
<script src="{% static 'myapp/js/scripts.js' %}"></script>
