{% extends 'myapp/base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SUNNY BOOGIE</title>
    
  </head>
  
  <body>
    {% block content %}
    <a href="main.html"><img class="logo" src="{% static 'myapp/img/main/로고.jpg' %}" alt=""></a>
    <div class="topnav">
      <input type="text" placeholder="Search..">
    </div>

    <hr class=hr1>

    <br>

    <div class="whethercard">
      <img src="https://w.bookcdn.com/weather/picture/32_41656_1_24_9b59b6_250_8e44ad_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=2&domid=593&anc_id=44673"  alt="booked.net"/>
      <div class="howwhether">
        <br>
        <p class="whethercardtext">오늘의 날씨는?</p>
        <input class="form-control" id="disabledInput" type="text">
        <br>
        <button class="whethercardbtn">Search</button>
      </div>
    </div>

    <div class="closet">
        <img src="{% static 'myapp/img/main/1.jpg' %}"/>
        <img src="{% static 'myapp/img/main/2.jpg' %}"/>
        <img src="{% static 'myapp/img/main/로고.jpg' %}"/>
        <img src="{% static 'myapp/img/main/closet.jpg' %}"/>
        <img src="{% static 'myapp/img/main/2.jpg' %}"/>
        <img src="{% static 'myapp/img/main/3.jpg' %}"/>
    </div>

    <div class="morecloset">
      <img src="{% static 'myapp/img/main/closet.jpg' %}" alt="Avatar" class="closetimage">
      <div class="overlay">
        <a href="#" class="icon" title="User Profile">
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>

  </body>
  {% endblock %}
</html>