{% extends 'myapp/base.html' %}
{% block header%}
 
{% endblock%}

{% block content%}
{% load static %}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">모두 보기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">결제 진행중</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">결제 완료</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">여긴 결제창 </h5>
      <p class="card-text">이렇게?</p>
      <a href="#" class="btn btn-primary">자세히 보기</a>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="{% static 'myapp/mail/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'myapp/mail/contact_me.js' %}"></script>
<!-- Core theme JS-->
<script src="{% static 'myapp/js/scripts.js' %}"></script>
